
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AdminView</h2>
<!--TU CREASTE ESTO?! ME PUEDES DECIR COMO LO HICISTE!! -->
<!--Creo que lo confundiste, las vistas no se crean asi, -->
